$mainColor: rgb(23, 23, 71);

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

$height: 700px;

@mixin largeMobile {
  @media (min-height: #{$height}) {
    @content;
  }
}
